/* css styles */
.justify {
  text-align: justify !important
}

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity {
        flex: 0 0 25%;
    }
}

/* In your CSS file */
.padded-image {
    padding: 15px; /* Adjust as desired */
} 

/* Create rounded corners */
.rounded-image {
    border-radius: 50%; /* Make the image a circle */
    overflow: hidden; /* Ensure the corners are cut */
}
```